  <%- include('partials/header') %>
  <main class="mt-10 flex flex-col justify-center items-center">
    <h1 class="text-[#ff385c] font-bold text-4xl font-['Outfit sans-serif']">404</h1>
    <p class="text-amber-400 font-semibold text-xl font-['Outfit sans-serif'] mt-5">Oops! Page Not Found.</p>
    <a href="/user"
      class="text-[#FFFDEB] font-['Outfit sans-serif'] p-2 m-5 bg-[#fb345c] rounded">Go back to Home
  </a>
    
  </main>
  
</body>
</html>