  <%- include('partials/header') %>
  <main class="flex flex-col items-center">
    <h1 class="mt-10 p-5 text-amber-400 font-semibold text-xl font-['Outfit sans-serif'] mt-10">Your House is registered successfully on airbnb.</h1>
    <a href="/user"
    class="mt-3 p-2 text-[#FFFDEB] font-['Outfit sans-serif'] bg-[#fb345c] rounded">Go back to Home</a>
  </main>
  
</body>
</html>